.button {
  width: 144px;
  height: 40px;
  background: $color-pink;
  border-radius: 5px;
  border: transparent;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: $biggest-font-weight;
  font-size: $smaller-font-size;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: $color-ivory;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;

  &:hover {
    background: $color-ivory;
    border: 1px solid $color-pink;
    color: $color-pink;
  }
}
