.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;

  @include onMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__square {
    &-first {
      width: 12vw;
      height: 12vw;
      top: 0%;
      left: 12%;

      @include onMobile {
        width: 12vh;
        height: 12vh;
        top: 5%;
      }
    }

    &-second,
    &-third {
      width: 7vw;
      height: 7vw;

      @include onMobile {
        width: 7vh;
        height: 7vh;
      }
    }

    &-second {
      top: 76%;
      left: 18%;

      @include onMobile {
        top: 84%;
      }
    }

    &-third {
      top: 60%;
      left: 65%;

      @include onMobile {
        left: 70%;
      }
    }
  }

  &__container {
    display: flex;
    width: 35vw;
    height: 45vw;
    margin: auto;
    position: relative;
    margin: 2vw 0;

    @include onMobile {
      width: 75vw;
      height: 95vw;
      margin: 15vw 0;
      order: 2;
    }

    &-img {
      margin: auto;
      width: 20vw;
      height: 35vw;
      z-index: 1;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      @include onMobile {
        width: 52vw;
        height: 85vw;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;

    @include onMobile {
      margin-left: $smaller-font-size;
      order: 1;
      width: 90vw;
      align-items: center;
      margin-top: 15vw;
    }

    &-title {
      margin: 0;
      width: 32vw;

      @include onMobile {
        width: 90vw;
        text-align: center;
      }
    }
    
    &-text {
      width: 32vw;
      margin: 12px 0 24px;

      @include onSmallDesktop {
        width: 45vw;
      }

      @include onMobile {
        width: 80vw;
        text-align: center;
      }
    }
  }
}
