.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: 100vw;

  &__square {
    &-first {
      width: 12vw;
      height: 12vw;
      top: 0%;
      left: 12%;

      @include onMobile {
        width: 12vh;
        height: 12vh;
      }
    }

    &-second,
    &-third {
      width: 7vw;
      height: 7vw;

      @include onMobile {
        width: 7vh;
        height: 7vh;
      }
    }

    &-second {
      top: 76%;
      left: 18%;
    }

    &-third {
      top: 60%;
      left: 65%;
    }
  }

  &__container {
    display: flex;
    width: 35vw;
    height: 45vw;
    margin: auto;
    position: relative;

    &-img {
      margin: auto;
      width: 20vw;
      height: 35vw;
      z-index: 1;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 50vw;

    @include onMobile {
      margin-left: 10px;
    }

    &-title {
      margin: 0;
      width: 32vw;
    }
    
    &-text {
      width: 32vw;
      margin: 12px 0 24px;

      @include onSmallDesktop {
        width: 45vw;
      }
    }
  }
}