.features {
  display: flex;
  height: 100vh;
  width: 100vw;

  &__square {
    &-first {
      width: 12vw;
      height: 12vw;
      top: 6%;
      left: 25%;
      
      @include onBigDesktop {
        top: 5%;
        left: 20%;
      }

      @include onTablet {
        left: 10%;
        top: 12%;
      }

      @include onMobile {
        width: 12vh;
        height: 12vh;
        top: 20%;
        left: 3%;
      }
    }

    &-second,
    &-third {
      width: 7vw;
      height: 7vw;

      @include onMobile {
        width: 7vh;
        height: 7vh;
      }
    }

    &-second {
      top: 76%;
      left: 28%;

      @include onBigDesktop {
        top: 78%;
        left: 25%;
      }

      @include onSmallDesktop {
        top: 80%;
        left: 20%;
      }

      @include onTablet {
        left: 14%;
      }

      @include onMobile {
        top: 69%;
        left: 3%;
      }
    }

    &-third {
      top: 60%;
      left: 60%;

      @include onBigDesktop {
        left: 63%;
      }

      @include onSmallDesktop {
        left: 66%;
      }

      @include onTablet {
        left: 74%;
      }
    }
  }

  &__container {
    display: flex;
    width: 50vw;
    height: 100vh;
    position: relative;

    &-img {
      margin: auto;
      min-width: 19vw;
      min-height: 34vw;
      z-index: 1;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__link {
    color: #EC5863;
    text-decoration: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100vh;

    &-title {
      margin: 0;
      width: 32vw;

      @include onSmallDesktop {
        width: 40vw;
      }
    }
    
    &-text {
      width: 32vw;
      margin: 12px 0 24px;

      @include onSmallDesktop {
        margin: 12px 10px 24px;
        width: 45vw;
      }
    }
  }
}