.header {
  box-sizing: border-box;
  
  &__wrapper {
    margin: 37px 43px 0;

    @include onTablet {
      margin: 27px 33px 0;
    }
  }

  &__logo-img {
    width: 140px;
    height: 28%;

    @include onTablet {
      width: 100px;
    }
  }

  &__top-action {
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    display: none;

    @include onMobile {
      display: block;
      justify-self: flex-end;
    }

    &--menu {
      width: 14px;
      height: 14px;
    }
  }

  &-pink {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 25%;
    background: #EC5863;
    border-radius: 30px 0px 0px 30px;
    z-index: -1;
  }

  &__content {
    position: relative;
    display: flex;
    margin: 0 43px;

    @include onSmallDesktop {
      margin: 0 20px;
    }

    @include onTablet {
      margin: 0;
    }

    &-info {
      width: 50vw;
      padding-left: 30px;
      z-index: 2;
    }

    &-img {
      position: absolute;
      top: 25%;
      left: 55%;
      max-width: 50vw;
      height: 30vw;
      z-index: -1;

      @include onMobile {
        max-width: 50vh;
        height: 30vh;
        left: 45%;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &-title {
      margin: 22vh 0 0;
      
    }

    &-description {
      width: 375px;

      @include onMobile {
        width: 200px;
      }
    }
  }

  &__video {
    margin: 18vh 0 0 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    @include onSmallDesktop {
      margin-left: 30px;
    }

    &-figure {
      position: relative;
      display: block;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: 1px solid #4285F4;
      transition: 0.3s;

      @include onTablet {
        width: 34px;
        height: 34px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &-play {
      position: absolute;
      top: 35%;
      right: 28%;
      width: 32%;
      height: 32%;
    }

    &-description {
      margin-left: 12px;
    }

    &-title {
      font-size: 13px;
      line-height: 126%;
      letter-spacing: 0.08em;
      color: #B0B0B0;
      margin: 0;
      
      @include onTablet {
        font-size: 10px;
      }
    }

    &-text {
      font-size: 9px;
      line-height: 126%;
      letter-spacing: 0.165em;
      text-transform: uppercase;
      color: #000000;
      margin: 5px 0 0;

      @include onTablet {
        font-size: 7px;
      }
    }
  }
}
