.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  @include onMobile {
    width: 100vw;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    background-color: $color-pink;
    z-index: 3;
  }
  
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;

    @include onMobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    margin-right: 40px;

    @include onSmallDesktop {
      margin-right: 22px;
    }

    @include onTablet {
      margin-right: 10px;
    }

    @include onMobile {
      margin: 0 0 20px;

    }

    &--first {
      display: none;

      @include onMobile {
        display: block;
      }
    }

    &--last {
      margin-right: 14vw;

      @include onTablet {
        margin-right: 11vw;
      }

      @include onMobile {
        margin: 0;
      }
    }
  }

  &__link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: $bold-font-weight;
    font-size: $smaller-font-size;
    line-height: 12px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: $color-black;
    letter-spacing: 0.14em;
    padding-bottom: 10px;
    transition: 0.3s;

    @include onBigDesktop {
      letter-spacing: 0.08em;
    }

    @include onSmallDesktop {
      letter-spacing: 0;
      font-size: $little-font-size;
      line-height: 11px;
    }

    @include onTablet {
      font-size: $smallest-font-size;
    }

    @include onMobile {
      font-size: $smaller-font-size;
      line-height: 12px;
      letter-spacing: 0.14em;
      color: $color-ivory;
    }

    &:hover {
      color: $color-pink;
      border-bottom: 1px solid $color-pink;
    }
  }

  &__button {
    width: 130px;
    height: 40px;
    background: $color-blue;
    border-radius: 5px;
    border: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: $biggest-font-weight;
    font-size: $smaller-font-size;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: $color-ivory;
    z-index: 2;
    position: relative;
    top: 10%;
    left: 3%;
    cursor: pointer;
    transition: 0.3s;

    @include onSmallDesktop {
      width: 110px;
      height: 35px;
    }

    @include onTablet {
      left: 8%;
    }

    @include onMobile {
      left: 0;
    }

    &:hover {
      transform: scale(1.1);
      background-color: transparent;
      border: 1px solid $color-blue;
    }
  }
}
