.page {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #FAFBFD;
  position: relative;

  
  &__header {
    height: 100vh;
    width: 100vw;
  }

  &__main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }

  &__menu {
    transform: translateX(0);

    @include onMobile {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;

      transform: translateX(100%);
      transition: transform 0.5s;

      &:target {
        transform: translateX(0);
      }
    }
  }
}