.support {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-ecru;
  padding-top: 10vh;

  &__wrapper {
    width: 62vw;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6vw;

    @include onMobile {
      width: 90vw;
      height: 23vh;
    }
  }

  &__square {
    &-first {
      width: 5vw;
      height: 5vw;
      bottom: 0%;
      left: 0%;
      transform: rotate(-30deg);

      @include onMobile {
        width: 8vw;
        height: 8vw;
        left: 3%;
      }
    }

    &-second {
      width: 7vw;
      height: 7vw;
      transform: rotate(105deg);
      top: -10%;

      @include onMobile {
        width: 11vw;
        height: 11vw;
        top: -5%;
      }
    }

    &-third {
      width: 9vw;
      height: 9vw;
      transform: rotate(-30deg);
      top: 10%;
      left: 88%;
    }
  }

  &__details {
    width: 57vw;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $color-white;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    z-index: 1;

    @include onMobile {
      width: 80vw;
    }

    &-card {
      &-title {
        font-size: $huge-font-size;
        line-height: 43px;
        font-weight: $bold-font-weight;
        text-align: center;
        letter-spacing: 0.14em;
        color: $color-pink;
        margin: 0;

        @include onTablet {
          font-size: $large-font-size;
          letter-spacing: 0.05em;
        }

        @include onMobile {
          font-size: $big-font-size;
          padding: 0 10px;
        }
      }

      &-text {
        font-size: $normal-font-size;
        line-height: 13px;
        font-weight: $bold-font-weight;
        text-align: center;
        letter-spacing: 0.37em;
        text-transform: uppercase;
        color: $color-black;
        margin: 5px 0 0;

        @include onTablet {
          font-size: $small-font-size;
          letter-spacing: 0.2em;
        }

        @include onMobile {
          letter-spacing: 0;
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8vw;

    @include onMobile {
      flex-direction: column;
    }
  }

  &__info {
    margin-left: 7vw;

    @include onMobile {
      margin-left: 3vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 12vw;
    }

    &-title {
      margin: 0 0 12px;
    }

    &-text {
      width: 30vw;
      margin-bottom: 24px;

      @include onMobile {
        width: 90vw;
      }
    }
  }

  &__img {
    margin-left: 9vw;
    width: 45vw;
    height: 25vw;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include onMobile {
      width: 70vw;
      height: 40vw;
      margin-left: 0;
    }
  }
}
