.title {
  font-weight: $bold-font-weight;
  font-size: $largest-font-size;
  line-height: 126%;
  color: $color-black;
  
  @include onSmallDesktop {
    font-size: $biggest-font-size;
  }

  @include onTablet {
    font-size: $huge-font-size;
  }

  @include onMobile {
    font-size: $bigger-font-size;
  }

  &--link-pink {
    color: $color-pink;
    text-decoration: none;
  }

  &--link-blue {
    color: $color-blue;
    text-decoration: none;
  }
}
