$color-pink: #EC5863;
$color-ivory: #FCFDFE;
$color-grey: #616161;
$color-blue: #4285F4;
$color-black: #000;
$color-white: #fff;
$color-ecru: #FAFBFD;

$mobile-size: 590px;
$tablet-size: 768px;
$small-desktop-size: 1024px;
$big-desktop-size: 1200px;
$large-desktop-size: 1400px;

$smallest-font-size: 7px;
$small-font-size: 8px;
$little-font-size: 9px;
$smaller-font-size: 10px;
$normal-font-size: 12px;
$medium-font-size: 14px;
$average-font-size: 16px;
$big-font-size: 22px;
$bigger-font-size: 28px;
$large-font-size: 30px;
$huge-font-size: 36px;
$biggest-font-size: 40px;
$largest-font-size: 44px;

$bold-font-weight: 700;
$biggest-font-weight: 800;